{
  "presets": [ // 插件的集合
    "@babel/preset-env", //转义ES6 ES7
    "@babel/preset-react", //转义 jsx语法
  ],
  "plugins": [ // 每个插件代表一个规则
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-transform-runtime",{
      "corejs":false,
      "helpers":true,
      "regenerator":true,
      "useESModules":true
    }]
  ]
}